@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

body
{
    font-family: Ubuntu, 'sans-serif';
    font-size: 13px;
    background: #000;
    line-height: 140%;
}

.hidden
{
    display: none
}

.zoomOut
{
    zoom: 80%
}

p
{
    display: inline-block;
    margin-bottom: 3px;
}

strong
{
    font-weight: bold
}

.icon-users-now
{
    background: url(../images/icons/users_now.png) no-repeat;
    width: 9px;
    height: 10px;
    display: inline-block;
}

.background-left
{
    background: url(../images/backgrounds/habbo15/habbo15_background_left.png);
    width: 358px;
    height: 544px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.background-right
{
    background: url(../images/backgrounds/habbo15/habbo15_background_right.png);
    width: 616px;
    height: 466px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.gamebox
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.disconnected
{
    width: 400px;
    height: 150px;
    background: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;;
    z-index: 9999999;
}

.disconnected .title
{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.mask
{
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999998;
}

.up_right_options
{
    background: url(../images/icons/up_right_bg.png);
    height: 71px;
    width: 192px;
    position: fixed;
    right: 3px;
    z-index: 999998;
    color: #fff;
    top: 0;
}

.up_right_options > .quit,
.up_right_options > .settings,
.up_right_options > .help
{
    width: 61px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    position: fixed;
}

.up_right_options > .quit
{
    background: url(../images/icons/quit.png);
    right: 11px;
    top: 24px;
}

.up_right_options > .quit:hover
{
    background: url(../images/icons/quit.png) 0 -19px;
}

.up_right_options > .quit:active
{
    background: url(../images/icons/quit.png) 0 -38px;
}

.up_right_options > .help
{
    background: url(../images/icons/help.png);
    right: 11px;
    top: 3px;
}

.up_right_options > .help:hover
{
    background: url(../images/icons/help.png) 0 -19px;
}

.up_right_options > .help:active
{
    background: url(../images/icons/help.png) 0 -38px;
}

.up_right_options > .settings
{
    background: url(../images/icons/settings.png);
    right: 11px;
    top: 45px;
}

.up_right_options > .settings:hover
{
    background: url(../images/icons/settings.png) 0 -19px;
}

.up_right_options > .settings:active
{
    background: url(../images/icons/settings.png) 0 -38px;
}

.alert-window
{
    width: 278px;
    z-index: 999999;
    position: absolute;
}

.alert-window > .header
{
    background: url(../images/window/alert/top.png) no-repeat;
    width: 278px;
    height: 33px;
    display: block;
    text-align: center;
    color: #fff;
    font-family: Ubuntu-Bold, sans-serif;
    padding-top: 7px;
    cursor: move;
}

.alert-window > .body
{
    background: url(../images/window/alert/body.png) repeat-y;
    width: 278px;
    height: auto;
    display: block;
    padding: 10px 10px 5px 10px;
    min-height: 20px;
    margin-top: -7px;
}

.alert-window > .footer
{
    background: url(../images/window/alert/bottom.png) no-repeat;
    width: 278px;
    height: 9px;
    display: block;
}

.clickable
{
    width: 33px;
    height: 28px;
    transform: rotate(27deg) skew(-36deg);
    background-color: transparent;
    position: absolute;
    margin-left: 13px;
    margin-top: 2px;
}

.tile
{
    background: url('../images/tile.png') no-repeat;
    width: 65px;
    height: 40px;
    position: absolute;
}

.tile_hover
{
    background: url('../images/tile_hover.png') no-repeat;
    width: 66px;
    height: 36px;
    position: absolute;
}

.charh
{
    width: 41px;
    height: 83px;
    display: block;
    position: absolute;
    pointer-events: none;
}

/* SPEECH BUBBLES */
.speak_bubble
{
    background: #fff;
    padding: 3px 5px;
    border: solid 1px #000;
    border-radius: 5px;
    color: #000;
    position: absolute;
    z-index: 9998;
    font-size: 11px;
}

.speak_bubble .user
{
    font-weight: bold;
}

/* BOTTOM BAR ICONS AND CONTENTS */
.bottom_bar
{
    background: url(../images/bottom_bar.png) repeat-x;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 100%;
    margin-top: -50px;
    z-index: 99999;
}

.charspeech
{
    width: 471px;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: 7px;
}

.charspeech > .speech_bubbles
{
    background: url(../images/icons/speech_bubbles.png);
    width: 57px;
    height: 38px;
    display: inline-block;
    float: left;
    border: 0;
    cursor: pointer;
}

.charspeech > .input_bubble
{
    background: url(../images/speech_bubble.png) no-repeat;
    width: 394px;
    height: 38px;
    display: inline-block;
    float: right;
    border: 0;
    padding: 0 10px;
    font-size: 16px;
}

.inventory,
.catalog,
.navigator,
.hotel
{
    height: 41px;
    width: 44px;
    display: inline-block;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 10px;
}

.inventory
{
    background: url('../images/icons/inventory.png') 0 0 no-repeat;
}

.inventory:hover
{
    background: url('../images/icons/inventory.png') 0 -41px no-repeat;
}

.inventory:active
{
    background: url('../images/icons/inventory.png') 0 -84px no-repeat;
}

.catalog
{
    background: url('../images/icons/market.png') 0 0 no-repeat;
}

.catalog:hover
{
    background: url('../images/icons/market.png') 0 -41px no-repeat;
}

.catalog:active
{
    background: url('../images/icons/market.png') 0 -84px no-repeat;
}

.navigator
{
    background: url('../images/icons/navigator.png') 0 0 no-repeat;
}

.navigator:hover
{
    background: url('../images/icons/navigator.png') 0 -41px no-repeat;
}

.navigator:active
{
    background: url('../images/icons/navigator.png') 0 -84px no-repeat;
}

.hotel
{
    background: url('../images/icons/hotel.png') 0 0 no-repeat;
    width: 28px;
}

/* CHATLOG BOX */
ul.chatlog-box
{
    width: 400px;
    height: 200px;
    background: #24231E;
    color: #a5a5a5;
    padding: 7px;
    border: solid 2px #3A3A38;
    border-radius: 5px;
    position: fixed;
    top: 100%;
    margin-top: -297px;
    margin-left: 7px;
    overflow: auto;
    z-index: 999998;
}

ul.chatlog-box li
{
    margin-bottom: 7px;
}

ul.chatlog-box li .user
{
    font-weight: bold;
    text-decoration: underline;
}

/* INVENTORY BOX */
.inventory-box
{
    width: 490px;
    z-index: 999998;
}

.inventory-box .top
{
    background: url('../images/window/inventory/i_top.png') no-repeat;
    width: 490px;
    height: 19px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.inventory-box .body
{
    background: url('../images/window/inventory/i_body.png') repeat-y;
    min-height: 250px;
    width: 490px;
    height: auto;
    padding: 5px 8px;
}

.inventory-box .bottom
{
    background: url('../images/window/inventory/i_bottom.png') no-repeat;
    width: 490px;
    height: 9px;
}

.inventory-box ul.tabs
{
    border-bottom: solid 1px #000;
    height: 32px;
    width: calc(100% - 24px);
    padding-left: 10px;
    margin-bottom: 5px;
}

.inventory-box ul.tabs li
{
    display: inline-block;
    border-top: solid 1px #4D4C49;
    border-left: solid 1px #4D4C49;
    border-right: solid 1px #4D4C49;
    border-bottom: solid 1px #4D4C49;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #C3C2B8;
    padding: 6px 10px;
    margin-right: -3px;
}

.inventory-box ul.tabs li:hover
{
    background: #f6f5f0;
    border-bottom: solid 1px #f6f5f0;
    cursor: pointer;
    box-shadow: inset 2px 2px 1px #fff;
}

.inventory-box ul.tabs li.active
{
    background: #ECEAE0;
    border-top: solid 2px #000;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 1px #ECEAE0;
    box-shadow: inset 2px 2px 1px #fff;
}

.inventory-box ul.items
{
    width: 280px;
    float: left;
}

.inventory-box ul.items li
{
    display: inline-block;
    margin: 0 2px 2px 0;
    background: url('../images/icons/item_box.png') no-repeat;
    width: 42px;
    height: 42px;
    vertical-align: top;
    cursor: pointer;
}

.inventory-box ul.items li.active
{
    background: url('../images/icons/item_box_hover.png');
    height: 42px;
    width: 42px;
}

.inventory-box .preview
{
    width: 190px;
    margin-left: 280px;
}

/* OBJECT BOX */
ul.object-box
{
    width: 170px;
    height: 100px;
    padding: 7px;
    background: #24231E;
    color: #a5a5a5;
    padding: 7px;
    border: solid 2px #3A3A38;
    border-radius: 5px;
    position: fixed;
    top: 100%;
    left: 100%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 999998;
}

ul.object-box li .item_name
{
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 8px;
}

.item
{
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.item_bubble
{
    position: absolute;
    font-size: 11px;
    display: block;
    width: 100px;
    height: 18px;
    background: #24231E;
    color: #a5a5a5;
    padding: 3px;
    border: solid 2px #3A3A38;
    border-radius: 5px;
    z-index: 999998;
    text-align: center;
    opacity: 0.9;
}

/* CATALOGUE */
.catalog-window
{
    width: 570px;
    z-index: 999999;
    position: absolute;
}

.catalog-window .top
{
    background: url('../images/window/catalogue/c_top.png') no-repeat;
    width: 570px;
    height: 19px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    cursor: move;
}

.catalog-window .header
{
    width: 568px;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    height: 90px;
    color: #fff;
}

.catalog-window .body
{
    background: url('../images/window/catalogue/c_body.png') repeat-y;
    width: 568px;
    padding: 5px 8px;
    min-height: 520px;
}

.catalog-window .body .left-side
{
    width: 200px;
    height: 450px;
}

.catalog-window .body .left-side .b_search
{
    background: url('../images/window/catalogue/b_search.png') no-repeat;
    color: #939393;
    font-size: 12px;
    width: 184px;
    height: 24px;
    padding: 0 6px;
    margin-bottom: 5px;
    border: 0;
}

.catalog-window .body .left-side .b_top
{
    background: url('../images/window/catalogue/b_top.png') no-repeat;
    width: 184px;
    height: 5px;
}

.catalog-window .body .left-side ul.b_body
{
    background: url('../images/window/catalogue/b_body.png') repeat-y;
    width: 184px;
    height: 400px;
    padding: 0px 4px;
    float: left;
    overflow: auto;
}

.catalog-window .body .left-side ul.b_body li
{
    color: #666;
    text-shadow: 0px 0px 0px #000;
    font-weight: bold;
    display: block;
    padding: 2px 0px;
    cursor: pointer;
}

.catalog-window .body .left-side ul.b_body li:hover
{
    background: url('../images/window/catalogue/b_body_hover.png') repeat-x;
    width: 177px;
    color: #fff;
    text-shadow: 1px 1px 1px #2e7e9b;
    font-weight: bold;
}

.catalog-window .body .left-side ul.b_body .page_active,
.catalog-window .body .left-side ul.b_body .page_active2
{
    background: url('../images/window/catalogue/b_body_hover.png') repeat-x;
    color: #fff;
    text-shadow: 1px 1px 1px #2e7e9b;
    font-weight: bold;
}

.catalog-window .body .left-side ul.b_body .page_active
{
    width: 177px;
}

.catalog-window .body .left-side ul.b_body .page_active2
{
    width: 162px;
}

.catalog-window .body .left-side ul.b_body li img
{
    vertical-align: text-top;
    margin-right: 5px;
}

.catalog-window .body .left-side ul.b_body li ul
{
    margin-top: 2px;
    margin-bottom: 5px;
}

.catalog-window .body .left-side ul.b_body li ul li
{
    padding-left: 15px;
}

.catalog-window .body .left-side ul.b_body li ul li:hover
{
    background: url('../images/window/catalogue/b_body_hover.png') repeat-x;
    width: 162px;
    color: #fff;
    font-weight: bold;
}

.catalog-window .body .left-side .b_bottom
{
    background: url('../images/window/catalogue/b_bottom.png') no-repeat;
    width: 184px;
    height: 6px;
    float: left;
}

.catalog-window .bottom
{
    background: url('../images/window/catalogue/c_bottom.png') no-repeat;
    width: 570px;
    height: 10px;
}

/* NAVIGATOR */
.navigator-window
{
    width: 425px;
    z-index: 999999;
    position: absolute;
}

.navigator-window > .header
{
    background: url('../images/window/navigator/header.png') no-repeat;
    width: 425px;
    height: 31px;
    color: #fff;
    font-weight: bold;
    padding-top: 7px;
    text-align: center;
    cursor: move;
}

.navigator-window > .body
{
    background: url('../images/window/navigator/body.png') repeat-y;
    width: 425px;
    min-height: 450px;
    display: block;
    padding: 10px 10px 5px 10px;
    clear: both;
}

.navigator-window > ul.tabs
{
    width: calc(100% - 2px);
    height: 24px;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    display: block;
    text-align: center;
    background: #fff;
    margin-top: -7px;
    padding-top: 13px;
}

.navigator-window > ul.tabs > li
{
    display: inline;
    border: solid 1px #504F4E;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 10px;
    margin: 0 -1.5px 0 -1.5px;
    height: 30px;
    cursor: pointer;
    background: #CAC9C1;
}

.navigator-window > ul.tabs > li:hover
{
    background: #f6f5f0;
}

.navigator-window > ul.tabs > li:active,
.navigator-window > ul.tabs > li.active
{
    box-sizing: border-box;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    border-left: solid 2px #000;
    border-bottom: solid 1px #ECEAE0;
    -webkit-box-shadow: inset 0 -5px 5px 1px #fff;
    -moz-box-shadow: inset 0 -5px 5px 1px #fff;
    box-shadow: inset 0 1px 0 1px #fff;
    background: #ECEAE0;
}

.navigator-window > .body > .filter select
{
    border: solid 1px #333;
    border-radius: 6px;
    display: inline-block;
    height: 24px;
    vertical-align: top;
}

.navigator-window > .body > .filter input
{
    background: url(../images/catalogue/search_bg.png) no-repeat;
    width: 214px;
    height: 24px;
    display: inline-block;
    border: 0;
    padding: 1px 10px;
    font-size: 12px;
    margin-left: 7px;
    vertical-align: top;
}

.navigator-window > .body > .filter .pencil
{
    background: url(../images/catalogue/search_pencil.png) no-repeat;
    width: 21px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: -23px;
}

.navigator-window > .body > .filter .update
{
    background: url(../images/icons/update.png) no-repeat;
    width: 25px;
    height: 23px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 7px;
}

.navigator-window > .body > .filter .update:hover
{
    background: url(../images/icons/update.png) 0 -23px no-repeat;
}

.navigator-window > .body > .filter .update:active
{
    background: url(../images/icons/update.png) 0 -46px no-repeat;
}

.navigator-window > .body > ul.rooms
{
    margin-top: 10px;
}

.navigator-window > .body > ul.rooms > li
{
    display: block;
    height: 19px;
    padding-top: 1px;
    width: calc(100% - 40px);
    cursor: pointer;
}

.navigator-window > .body > ul.rooms > li:nth-child(odd)
{
    background: #D5EDFF;
}

.navigator-window > .body > ul.rooms > li:nth-child(even)
{
    background: #FFF;
}

.navigator-window > .body > ul.rooms > li .users_now
{
    display: inline-block;
    width: 40px;
    height: 18px;
    background: #CAC9C0;
    color: #fff;
    font-weight: bold;
    padding: 0 3px;
    border-radius: 4px;
    margin-right: 5px;
}

.navigator-window > .body > ul.rooms > li .icon-users-now
{
    margin-left: 4px;
}

.navigator-window > .footer
{
    background: url('../images/window/navigator/footer.png') no-repeat;
    width: 425px;
    height: 10px;
    display: block;
    clear: both;
}